# ================================
# Enable detection of TypeScript files
# ================================
*.ts linguist-detectable=true
*.tsx linguist-detectable=true

# ================================
# Ensure Python files are detected
# ================================
*.py linguist-detectable=true